

    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>


    <h1>Categories</h1>

    <ul>
      <% @categories.each do |category| %>
          <li>

            <%= link_to category.title, category%>

          </li>
      <% end %>
    </ul>
    <div>
      <%= link_to "New Article", new_article_path %>
    </div>






